<form>
    <div>
        <p>{{localize "metricsystem.converter.weight.description"}}</p>
        <p><u>{{localize "metricsystem.converter.emphasis"}}</u></p>
	</div>
	<div class="metric-flex-v-stretch input-group metric-mb-1" data-name="wrp-btns-sort">
        <label class="metric-btn-foundry metric-btn metric-checkboxes metric-flex-vh-center"><input type="checkbox" id="cb-select-all"></label>
        <label class="metric-btn metric-btn-foundry metric-names-head" name="header">{{localize "metricsystem.converter.weight.header.name"}}</label>
        <label class="metric-btn metric-btn-foundry metric-numbers-head" name="headerRang">{{localize "metricsystem.converter.weight.header.weight"}}</label>
    </div>

	<div class="metric-item-list metric-mb-1">
        {{#each rows}}
        <label class="metric-row">
            <span class="metric-checkboxes metric-flex-vh-center metric-span"><input type="checkbox" class="metric-1" name="{{id}}" data-dtype="Boolean"></span>
            <span class="metric-namebox">{{{name}}}</span>
            <span class="metric-numberbox"><p class="metric-name">{{weight}}</p></span>
        </label>
        {{/each}}
    </div>

    <!---<div class="metric-choose">
        <span class="metric-checkboxes metric-flex-vh-center metric-span"><input type="checkbox" class="metric-1" name="speed" data-dtype="Boolean">Converter Deslocamento</span>        
    </div>--->

    <div class="metric-refbox">
        <h4 class="metric-title">{{localize "metricsystem.converter.ref.title"}}</h4>
        <p style="text-align: center;">{{localize "metricsystem.converter.weight.ref"}}</p>
    </div><hr>

    <h3 class="metric-title">{{localize "metricsystem.converter.footer.title"}}</h3>
    <div class="metric-choose">
        <label class="metric-radios metric-flex-vh-center metric-span"><input type="radio" class="metric-2" name="convert" value="kg" data-dtype="Radio" checked="checked">{{localize "metricsystem.converter.weight.footer.tometric"}}</label>
        <label class="metric-radios metric-flex-vh-center metric-span"><input type="radio" class="metric-2" name="convert" value="lb" data-dtype="Radio">{{localize "metricsystem.converter.weight.footer.toimperial"}}</label>
    </div>
	<div>
		<button class="metric-btn" type="submit" name="submit" value="1"><i class="fas fa-weight-hanging"></i>{{localize "metricsystem.converter.weight.submit"}}</button>
	</div>
</form>
